<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulário de Cadastro</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

	<div th:replace="~{paginas/fragmentos/menu :: menu}"></div>


	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card p-4 shadow-sm">
					<h2 class="text-center mb-2">Cadastrar-se na Agendaria Gourmet</h2>
					<form action="/usuario/cadastro" method="POST" id="formCadastro">

						<div class="form-group">
							<label for="Usuario">Usuario:</label>
							<input type="text" class="form-control" id="usuario" name="usuario" required
								placeholder="joão" th:value="${dadosCadastrais?.usuario}">
						</div>

						<div class="form-group">
							<label for="nome">Nome:</label>
							<input type="text" class="form-control" id="nome" name="nome" required
								placeholder="João Mathias"  th:value="${dadosCadastrais?.nome}">
						</div>

						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" class="form-control" id="email" name="email" required
								placeholder="joao@gmail.com" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
								 th:value="${dadosCadastrais?.email}">
						</div>

						<div class="form-group">
							<label for="senha">Senha:</label>
							<input type="password" class="form-control" id="senha" name="senha" required  th:value="${dadosCadastrais?.senha}">
						</div>

						<button type="submit" class="btn btn-success btn-block">Criar</button>

						<p> <a href="/usuario/login">Clique Aqui meu!</a> para fazer login meu!,caso já tenha conta
							meu!. </p>
					</form>
				</div>
			</div>