<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulário de Cadastro</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

	<div th:replace="~{paginas/fragmentos/menu :: menu}"></div>


	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card p-4 shadow-sm">
					<h2 class="text-center mb-2">Adicionar Novo Contato</h2>
					<form th:action="@{/contato/criar}" method="POST" id="formCadastro">

						<div class="form-group">
							<label for="nomeContato">Nome:</label>
							<input type="text" class="form-control" id="nomeContato" name="nomeContato" required
								placeholder="nome do contato" th:value="${dadosCadastrais?.nomeContato}">
						</div>
						<div class="form-group">
							<label for="Email">Email:</label>
							<input type="email" class="form-control" id="Email" name="Email" required
								placeholder="email@gmail.com" th:value="${dadosCadastrais?.Email}"
								pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
						</div>
						<fieldset>
							<legend>Telefone</legend>

							<div class="form-group">
								<label for="DDD">Numero de DDD:</label>
								<input type="text" class="form-control" id="DDD" name="DDD" required
									placeholder="numero do DDD: exemplo 81" th:value="${dadosCadastrais?.DDD}"
									pattern="^\[1-9]{2}\$">
							</div>
							<div class="form-group">
								<label for="telefone">Numero de Telefone:</label>
								<input type="text" class="form-control" id="telefone" name="telefone" required
									placeholder="98765-4321" th:value="${dadosCadastrais?.telefone}"
									pattern="^9\d{4}-\d{4}$">
							</div>
						</fieldset>


						<button type="submit" class="btn btn-success btn-block">Criar</button>
					</form>
				</div>
			</div>