<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulário de Cadastro</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>



	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card p-4 shadow-sm">
					<h2 class="text-center mb-4">Alterar Dados do Usuario</h2>
					<form action="/usuario/perfil" method="POST" id="formCadastro">


						<div class="form-group">
							<label for="nome">Nome:</label>
							<input type="text" class="form-control" id="nome" name="nome"
								th:placeholder="${user.nome}">
						</div>

						<div class="form-group">
							<label for="email">Email:</label>
							<input type="text" class="form-control" id="email" name="email"
								th:placeholder="${user.email}">
						</div>

						<div class="form-group">
							<label for="senha">Senha:</label>
							<input type="password" class="form-control" id="senha" name="senha">
						</div>

						<button type="submit" class="btn btn-success btn-block">Alterar Perfil</button>
					</form>
				</div>
			</div>